/* .icon {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 35px 75px;
}

.navgiation ul {
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navgiation ul li {
    width: 100px;
}

.main-image {
    border: 1px solid black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container {
    height: 700px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
}